<div class="container">
  <div class="top-bar">
    <!-- more -->
    <button class="top-bar__more">
      <img
        src="./assets/icons/more.svg"
        alt="icon-more"
        class="icon top-bar__more-icon"
      />
    </button>

    <!-- logo -->
    <div class="logo">
      <img src="../assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
      <h1 class="logo__title">grocerymart</h1>
    </div>

    <!-- navbar -->
    <nav class="navbar">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a href="#!" class="navbar__link">
            Departments
            <img
              src="../assets/icons/arrow-down.svg"
              alt="icon-arrow-down"
              class="navbar__icon"
            />
          </a>
        </li>
        <li class="navbar__item">
          <a href="#!" class="navbar__link">
            Grocery
            <img
              src="../assets/icons/arrow-down.svg"
              alt="icon-arrow-down"
              class="navbar__icon"
            />
          </a>
        </li>
        <li class="navbar__item">
          <a href="#!" class="navbar__link">
            Beauty
            <img
              src="./assets/icons/arrow-down.svg"
              alt="icon-arrow-down"
              class="navbar__icon"
            />
          </a>
        </li>
      </ul>
    </nav>

    <!-- action -->
    <div class="top-cta">
      <div class="top-cta__group top-cta__group--single">
        <button class="top-cta__btn">
          <img
            src="./assets/icons/search.svg"
            alt="icon-search"
            class="top-cta__icon"
          />
        </button>
      </div>

      <div class="top-cta__group">
        <button class="top-cta__btn">
          <img
            src="./assets/icons/heart.svg"
            alt="icon-heart"
            class="top-cta__icon"
          />
          <span class="top-cta__title">03</span>
        </button>

        <div class="top-cta__separate"></div>

        <button class="top-cta__btn">
          <img
            src="./assets/icons/card.svg"
            alt="icon-card"
            class="top-cta__icon"
          />
          <span class="top-cta__title">$65.42</span>
        </button>
      </div>

      <div class="top-cta__user">
        <img src="./assets/images/Avatar.png" alt="" class="top-cta__img" />
      </div>
    </div>
  </div>
</div>
